body {
  background-color: #222;
  color: #fff;
}

.front .content {
	text-align:left; 
	width: 55%;
	margin-left: 10%;
}

/*slides*/
.text1 .content {
	background-color: rgba(230,230,230,.7);
	color: black;
	text-align:left; 
	width:40%;
	margin-left: 15%;
	padding:5%;
}

.text2 .content {
	text-align:left;
	width: 45%;
	margin-right: 10%;
	font-size: 20px;
}

.text3 .content {
	text-align:left;
	width: 45%;
	margin-right: 10%;
	font-size: 20px;
	background-color: rgba(230,230,230,.7);
	color: black;
	padding: 5%;
}

.text4 .content {
	text-align:left;
	width: 45%;
	margin-left: 10%;
	font-size: 20px;
	background-color: rgba(230,230,230,.7);
	color: black;
	padding: 5%;
}

.front h1 {
	font-family: 'Georgia', serif;
}

.caption {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.infograph_text {
	text-align: left;
	width: 25%;
  	margin-left: 73%;
}

.soundcite-loaded {
  /*border-radius: 6px;
  padding: 0 5px 0 5px;
  display: inline-block;
  cursor: pointer;*/
  background: rgba(255, 255, 255, 0.25);
}



