body {
  background-color: #222;
  color: #fff;
}

.front .content {
	text-align:left; 
	width: 55%;
	margin-left: 10%;
}

.text1 {
	background-color: rgba(230,230,230,.7);
	color: black;
	text-align:left; 
	width:55%;
	padding:5%;
}

.front h1 {
	font-family: 'Georgia', serif;
}

.caption {
	position: absolute;
	bottom: 20px;
	right: 20px;
}


