body {
  background-color: #222;
  color: #fff;
}

.front {
	text-align:left; 
	width:50%;
}

.text1 {
	background-color: rgba(230,230,230,.7);
	color: black;
	text-align:left; 
	width:55%;
	padding:5%;
}


